//Menu with BEM approach :

//not used; Bootsrap rules. 

/* .menu {
  background: $primary;
}

.menu__row {
  width: 90%;
}

.menu__list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.2rem;
}

.menu__link {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
  color: white;
  font-weight: 800;
}
.menu__link:hover {
  background: $primary;
}
 */