/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text;
  font-size: $font-size-medium;
  font-family: $font-playfair;
  font-weight: $font-weight-light;
}


